<!DOCTYPE html>
<html>
  <head>
    <title>BoozeYourself</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>

    <% if user_signed_in? %>
      <div><%= image_tag current_user.avatar %></div>
    <% end %>

    <%= yield %>
  </body>
</html>
